[submodule "content/CleanCode"]
	path = content/CleanCode
	url = git@github.com:Momolem/CleanCode.git
[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
